<div class="home-bg text-center">
    <div class="home-content text-white">
        <h1><span class="display-4">Welcome to </span><span class="heading-strong">Movie</span><span class="heading-light">Mania</span></h1>
        <p class="subtitle">This is a FED 25 Angular Project</p>
        <p>Author: Momcilo Savic</p>
        <hr class="my-4">
        <div class="btn-custom" [routerLink]="['/movies']" routerLinkActive="router-link-active" >
            <p class="custom-p">BROWSE OUR LIBRARY</p>
        </div>
    </div>
</div>